/*Imports*/
@import url(reset.css);



/*Codigos padroes*/

*{
    font-family: "Open Sans";
}

html,body{
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}


/*Iniciando codigo*/

/*header*/
header{
    width: 100%;
    height: 80vh;
    padding: 40px 0;
    /*max-height: 700px;*/
    background-image: url(/img/capa.png);
    background-size: cover;
    background-position: center;
}

header .logo{
    position: relative;
    top: -5px;
    left: 40px;
    width: 300px;
    height: 40px;
    float: left;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    padding: 0 0 0 90px;
    color:#f7f7f7;
        
}


.mobile-menu{
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(/img/menu.png);
    font-size: 100% 100%;
}

nav.mobile-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 0;
    width: 100%;
    height: 200px;
    color: #fff;
    background-color: #472562;
    opacity: 0;
    transition: 1s;
}

nav.mobile-menu:hover ul {
    opacity: 1;
    transition: 0.2s;
}


nav.mobile-menu ul li{
    font-size: 18px;
    padding: 15px 0;
}
header nav ul {
    list-style-type: none;
    padding: 0 90px 0 0;
}


header nav {
    float: right;
}

header nav li{
    padding: 0 20px;
    float: left;
}

header nav ul a{
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

.chamada-1{
    float: right;
    max-width: 1600px;
    margin: 140px 150px ;
}

.chamada-1 h2{
    font-size: 40px;
    font-weight: normal;
    color: #fff;    
}

.chamada-1 p{
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
}

/*Section 1*/
section.section1{
    width:100%;
    height: 400px;
    background-color: #472562;
}

section.section1 .container{
    max-width: 1000px;
    margin-left: 200px;
}

.texto-section1{
    float: left;
    color: #fff;
    margin-top: 60px;
}

.texto-section1 h2{
    font-size: 28px;
    font-weight: 300;
}

.texto-section1 p {
    margin-top: 20px;
    font-size: 16px;
}

.texto-section1 ul{
    font-size: 15px;
    list-style-position: inside;
    list-style: circle;
    margin-left: 15px;
}

.texto-section1 ul li{
    margin-top: 5px;
}

.btn1-section1{
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
    border-radius: 20px;
    font-size: 16px;
    
}

.device-section1{
    float: left;
    width: 50%;
    height: 430px;
    position: relative;
    top: -30px;
    background-image: url(../img/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Section 2*/
.section2{
    padding: 60px 0;
    background-color: #fff;
    text-align: center;
}

section .container-section2{
    max-width: 1000px;
    margin: 0 2%;
    display: inline-block;
}

.section2 h2{
    font-size: 24px;
    color: #472653;
    font-weight: 300;
    margin: 0 2% 30px 2%;
}

.section2 p{
    font-size: 16px;
    color: #472653;
    max-width: 800px;
    display: inline-block;
}

.section2 img{
    width: 70%;
    position: relative;
    top: 100px;
}

/*Section 3*/
.section3{
    width: 100%;
}

.parte1{
    color: #fff;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: #472562;
}

.wraper-parte1{
    max-width: 500px;
    float: right;
    padding: 0 30px;
}

.parte1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}

.parte1 p{
    font-size: 16px;
    margin-top: 10px;
    line-height: 30px;
}


.parte2{
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
}

.sobre-autor{
    float: left;
    max-width: 500px;
    padding-left: 30px;
}

.titulo-autor{
    float: left;
    width: 100%;
}

.wraper-titulo-autor{
    float: left;
}

.titulo-autor h2{
    color: #232323;
    font-size: 23px;
    font-weight: 400;
    padding-right: 20px;
}

.titulo-autor p{
    color: #232323;
    font-size: 13px;
    font-style: italic;
    font-weight: 30;
}

.titulo-autor .img-autor{
    position: relative;
    top: -5px;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color:#472562;
}

.texto-autor{
    float: left;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.texto-autor p{
    color: #232323;
    font-size: 15px;
}


.slider-bullets{
    width: 100%;
    float: left;
    margin-top: 8px;
}

.slider-bullets span{
    width: 16px;
    height: 16px;
    float: left;
    border-radius: 8px;
    margin-left: 30px;
    background-color:#FF703D;
    cursor: pointer;
}

/*section 4*/

section.section4{
    background-color: #472653;
    padding: 100px 100px;
}

section .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form{
    width: 40%;
    padding: 0 10px;
}

.form h2{
    color: #fff;
    font-size: 23px;
    font-weight: 300;
}

.form p{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    max-width: 495px;
    margin-top: 15px;
}

.form form{
    margin-top: 15px;
}

.form form input[type=text]{
    width: 100%;
    max-width: 480px;
    height: 48px;
    padding-left: 8px;
    line-height: 58px;
    border: 1 solid rgb(200,200,200);
    margin-top: 8px;
    font-size: 16px;
}

.form form textarea{
    width: 100%;
    max-width: 462px;
    height: 140px;
    padding: 15px;
    margin-top: 8px;
    border: 1 solid rgb(200,200,200);
    font-size: 16px;
}

.form form input[type=submit]{
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    margin: 15px 50% 0 30%;
    border-radius: 30px;
    border: none;
}

.map-wraper{
    width: 40%;
}

.map-wraper h2{
    font-size: 23px;
    font-weight: 300;
    color: #fff;
}

.map{
    margin-top: 10px;
    width: 100%;
    height: 380px;
    background-color: #fff;
    border: 5px solid rgb(200,200,200);

}

footer{
    padding: 40px 0;
    background-color: #192123;
    color: #fff;
}

footer p:nth-of-type(1){
    float: left;
    font-size: 14px;
    padding-left: 40px;
}

footer p:nth-of-type(2){
    float: right;
    font-size: 14px;
    padding-right: 40px;
}

@media screen and (max-width:986px) {

    header{
        width: 100%;
        height: auto;
        min-height: 70vh;
    }

    header.container{
       
        text-align: center;
    }

    .logo{
        margin: 5px 0 0 -10px;
    }
    
    
    .desktop-menu{
        display: none;
    }

    .mobile-menu{
        display: block;
        margin: 0 10px;
    }
    
    .chamada-1{
        float: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .chamada-1 h2{
        margin: 200px 10px 40px 10px;
        font-size: 36px;
   
    }
    
    .chamada-1 p{
        font-size: 16px;
        margin: 10px 10px;
    }

    section.section1{
        padding: 0;
        margin: 0 ;
        height: auto;
        text-align: center;
    }
    
    section.section1 .container{
        margin-left: 0;
    }
    
    .texto-section1{
        width: 100%;
        margin: 40px 0;
        position: static;
        padding: 0 auto ;
        float: none;
        display: inline-block;
    }
    
    .texto-section1 ul{
        margin-top: 20px;
        display: inline-block;
    }
    
    .texto-section1 ul li{
        float: none;
        text-align: left;
       
    }
    
    .btn1-section1{
       margin: 20px auto;
    }
    
    .device-section1{
        display: none;
    }

    section.section4{
        background-color: #472653;
        padding: 100px 0px;
    }
    
    section .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form{
        text-align: center;
        width: 80%;
        margin: 0 10px;
        padding: 0;
    }
    
    .form h2{
        color: #fff;
        font-size: 23px;
        font-weight: 300;
    }
    
    .form p{
        margin: 15px auto;
    }
    
    

    
    .form form textarea{
        width: 93%;
        max-width: 462px;
        height: 100px;
    }
    
    .form form input[type=submit]{
        width: 165px;
        height: 44px;
        margin: 20px 100px 40px 100px;
    }
    
    .map-wraper{
        width: 80%;
    }
    
    .map{
        margin-top: 10px;
        width: 96%;
        height: 280px;
        background-color: #fff;
        border: 5px solid rgb(200,200,200);
    
    }
}

@media screen and (max-width: 580px) {

    header .logo {
        top: 0;
        width: 0;
        padding: 0 0 0 0;
        font-size: 20px;
    }

    .qr-code{
        margin: 0 0 30px 0;
    }
    .parte1{
        width: 100%;
    }

    .parte2{
        width: 100%;
    }

    .section2 img{
        top:30px;
        margin-top: 20px;
    }

    /*section 4*/

    .form form input[type=submit]{
        width: 165px;
        height: 44px;
        margin: 20px 0 40px 0;
    }

    /*footer*/

    footer{
        text-align: center;
    }
    
    footer p:nth-of-type(1){
        float: none;
        font-size: 14px;
        padding: 0;
    }
    
    footer p:nth-of-type(2){
        float: none;
        font-size: 14px;
        margin-top: 5px;
        padding: 0;
        
    }
}